/** COLUMN AREAS **/
div.leftCol{
    float:left;
    width: 18%;
    color:red
}

div.center{
    float:left;
    width:54%;
    color:green;
}

div.rightCol{
    float:left;
    width:18%;
    color:red;
}

/** SCOREBOARD **/
div.roundboard{
    float:none;
    text-align:center;
}

/** NESTED COLUMN AREAS **/

/** LEFT **/
div.leftCharacter{
    float: left;
}

div.leftSmashTag{
    float: left;
    text-align:center;
}

div.leftScore{
    float: right;
}


/** RIGHT **/
div.rightCharacter{
    float: left;
}

div.rightSmashTag{
    float: left;
    text-align: center;
}

div.rightScore{
    float: left;
}

