html{
    font-family: "Khand Medium";
    background-color: rgba(0, 0, 0, 0.7)
}

body{

}

div.container{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

div.crew{
    height:70%;
    width:45%;
    
    border-color:white;
    border-radius: 5px;

    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 56pt;
}

table.crewTable{
    margin: 0 auto;
    font-size: 42pt;
}

th, td {
    padding-left: 30px;
    padding-right: 30px;
}

td.score{
    text-align: center;
}

div.crew.players{
    
}