body{
	font-weight: 600pt;
    font-family: "Khand-SemiBold";
	background-image: url('../images/Overlays/Famicon/Melee/LowerThird.png');
	height:720px;
	width:1280px;
	letter-spacing: .5pt;
	text-shadow: none;
}

t{
	text-shadow: none;
}

div.leftcomm{
	position:fixed;
	margin-top:609px;
	margin-left:310px;
	text-align:center;
	font-size:18pt;
}

div.lefttwitter{
	color:#0084b4;
	position:fixed;
	font-size:13pt;
	text-align:center;
	margin-top:643px;
	margin-left:350px;
}


div.rightcomm{
	position:fixed;
	text-align:center;
	font-size:18pt;
	margin-left:830px;
	margin-top:609px;
}

div.righttwitter{
	color:#0084b4;
	position:fixed;
	text-align:center;
	font-size:13pt;
	margin-top:643px;
	margin-left:835px;
}



/** NEW **/
div.leftSpace{
	float:left;
	width:19%;
	margin-top:609px;
	font-size:18pt;
}

div.leftComm{
	float:left;
	text-align: center;
	margin-top: 609px;
	font-size:18pt;
	width:25%;
}

div.center{
	float:left;
	text-align:center;
	width:12%;
	margin-top: 609px;
	font-size:18pt;
}

div.rightComm{
	float:left;
	text-align:center;
	margin-top:609px;
	font-size:18pt;
	width:25%;
}

div.rightSpace{
	float:left;
	text-align:center:
	margin-top:609px;
	font-size:18pt;
	width:19%;
}

div.leftSpace2{
	float:left;
	text-align:center:
	font-size:18pt;
	width:19%;
}

div.leftTwitter{
	color:#0084b4;
	float:left;
	text-align:center:
	font-size:13pt;
	width:18%;
}

div.centerTwitterSpace{
	color:#0084b4;
	float:left;
	text-align:center:
	font-size:13pt;
	width:20%;

}

div.rightTwitter{
	color:#0084b4;
	float:left;
	text-align:center:
	font-size:13pt;
	width:13%;
}


