body{
    font-family: "Gill Sans";
	font-weight: 200;
    letter-spacing: 2px;
    font-color:#515151;
}

/** ROW AREAS **/
div.nameRow{
    float:top;
    padding-top:20px;
    height:45px;
    padding-left:40%;
    padding-right:500px;
}

div.topspace{
    height:18px;
}

div.roundRow{
    float:top;
    height:20px;
}

div.leftspace{
    float:left;
    width:20%;
}

div.leftinfo{
    float:left;
    width:23%;
    text-align:center;
    padding-top:4px;
    font-size:21pt;
}

div.leftscore{
    float:left;
    width:2%;
    padding-left:6px;
    text-align:center;
}

div.centerspace{
    float:left;
    width:9%;
}

div.rightscore{
    float:left;
    width:2%;
    padding-left:6px;
    text-align:center;
}

div.rightinfo{
    float:left;
    width:23%;
    font-size:21pt;
    padding-top:4px;
    text-align: center;
}

div.rightspace{
    float:left;
    width:20%;
}


div.leftroundspace{
    float: left;
    height:28px;
    width:23%;
}

div.leftround{
    float: left;
    font-size: 15pt;
    height:28px;
    width:20%;
    text-align: center;
    padding-top:5px;
    font-weight:100;
    letter-spacing: 2pt;
    text-transform: uppercase;
}

div.roundcenterspace{
    width:14%;
    float:left;
    height:28px;

}

div.tournamentround{
    float: left;
    font-size: 15pt;
    height:28px;
    width:20%;
    text-align: center;
    padding-top:5px;
    font-weight:100;
    letter-spacing: 2pt;
    text-transform: uppercase;
}




/** COLUMN AREAS **/
div.leftColHalf{
    float:left;
    width:50%;
    background-color:blue;
}

div.player1half{
    width:50%;
    text-align:right;
}

div.player2half{
    width:50%;
    text-align: left;
}

/** COLUMN AREAS **/
div.leftCol{
    float:left;
    width: 305px;
    background-color:green;
}

div.center{
    float:left;
    width:1310px;
    margin-left:305px;
}

div.rightCol{
    float:left;
    width:305px;

}

/** SCOREBOARD **/
div.roundboard{
    float:none;
    margin-top:20px;
    text-align:center;
}

/** NESTED COLUMN AREAS **/

/** LEFT **/
div.leftCharacter{
    float: right;
    margin-top: 950px;
    transform: scaleX(-1);
    position:fixed;
    z-index: -99999;
}

div.leftSmashTag{
    width:305px;
    position:fixed;
    text-align:center;
    margin-top:945px;
}

div.leftScore{
    float: right;
    margin-top:1010px;
    margin-left:259px;
    font-size:55px;
    font-weight:"bold";
    position:fixed;
}


/** RIGHT **/
div.rightCharacter{
    float: left;
    margin-top: 950px;
    position:fixed;
    z-index: -99999;
}


div.rightSmashTag{
    width:305px;
    position:fixed;
    text-align: center;
    margin-top:945px;
    font-size: 27pt;
}

/*
div.rightSmashTag{
    float: left;
    text-align: center;
    margin-top:945px;
    font-size: 27pt;
    position:fixed;
}
*/

div.rightScore{
    float: left;
    margin-top:1010px;
    margin-left:25px;
    font-size:55px;
    position:fixed;
}

/** IMAGES **/
img.leftCharacter{
    transform: scaleX(-1);
}

img.character_icon{
    height: 140px;
}