body{
    font-weight: bold;
    font-family: "Khand Medium";
    text-transform: uppercase;
    letter-spacing: 3px;
    background-image: url('C:/Users/RCScookiE/Documents/RCSOverlay/resources/images/Overlays/TO12/TO12LowerThirdLeft1.png');
}

div.column{
    width: 1000px;
    float: left;
}

div.round{
    position:fixed;
    margin-left: 200px;
    margin-top:795px;
    font-size:62pt;
}

div.event{
    position:fixed;
    margin-left:390px;
    margin-top:900px;
    font-size:24pt;
    color:white;
}