body{
    font-family: "Khand Medium";
	font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2pt;
}

div.playercol{
    position:fixed;
    display: flex;
    justify-content: center;

    margin-top: 39px;
    width: 13%;

    font-size: 24pt;
    font-color: #fdf8ea;
}

div.roundcol{
    position: fixed;
    display: flex;
    justify-content: center;

    margin-top: 39px;
    width: 20%;

    font-size: 24pt;
    font-color: #fdf8ea;
}

div.player1{
    text-align: center;
    left:0;
}

div.player2{
    text-align: center;
    right:0;
}

div.round{
    text-align: center;
    margin-top: 1020px;
    margin-left: 770px;
}