body{
    font-family: "Khand Medium";
	font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2pt;
}

div.playercol{
    position:fixed;
    display: flex;
    justify-content: center;

    width: 29%;

    font-size: 24pt;
    font-color: #fdf8ea;
}

div.roundcol{
    position: fixed;
    display: flex;
    justify-content: center;

    margin-top: 39px;
    width: 20%;

    font-size: 24pt;
    font-color: #fdf8ea;
}

div.player1{
    margin-top: 39px;
    text-align: center;
    left:0;
}

div.player2{
    margin-top: 388px;
    text-align: center;
    left:0;
}

div.round{
    text-align: center;
    margin-top: 968px;
    right:0;
    margin-right:457px;
}