body{
    font-family: "Khand Medium";
	font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/** COLUMN AREAS **/
div.leftCol{
    float:left;
    width: 305px;
}

div.center{
    float:left;
    width:1310px;
    margin-left:305px;
}

div.rightCol{
    float:left;
    width:305px;

}

/** SCOREBOARD **/
div.roundboard{
    float:none;
    margin-top:16px;
    text-align:center;
}

/** NESTED COLUMN AREAS **/

/** LEFT **/
div.leftCharacter{
    float: right;
    margin-top: 950px;
    transform: scaleX(-1);
    position:fixed;
    z-index: -99999;
}

div.leftSmashTag{
    width:305px;
    position:fixed;
    text-align:center;
    margin-top:941px;
    font-size: 27pt;
}

div.leftScore{
    float: right;
    margin-top:1010px;
    margin-left:259px;
    font-size:55px;
    font-weight:"bold";
    position:fixed;
}


/** RIGHT **/
div.rightCharacter{
    float: left;
    margin-top: 950px;
    position:fixed;
    z-index: -99999;
}


div.rightSmashTag{
    width:305px;
    position:fixed;
    text-align: center;
    margin-top:941px;
    font-size: 27pt;
}

/*
div.rightSmashTag{
    float: left;
    text-align: center;
    margin-top:945px;
    font-size: 27pt;
    position:fixed;
}
*/

div.rightScore{
    float: left;
    margin-top:1010px;
    margin-left:25px;
    font-size:55px;
    position:fixed;
}

/** IMAGES **/
img.leftCharacter{
    transform: scaleX(-1);
}

img.character_icon{
    height: 140px;
}