body{
    font-weight: bold;
    font-family: "Gill Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
}

div.leftCol{
    float:left;
    width:610px;
    position:relative;
}

div.team1{
    position: fixed;
    margin-top: 438px;
    margin-left: 10px;
}

div.team1Score{
    position: fixed;
    margin-top: 438px;
    margin-left: 575px;
}

div.team2{
    position: fixed;
    margin-top: 825px;
    margin-left: 10px;
}

div.team2Score{
    position: fixed;
    margin-top: 825px;
    margin-left: 575px;
}

div.roundCol{
    float:left;
    width:1310px;
    position:fixed;
    margin-left:610px;
    text-align:center;
    margin-top:20px;
}