body{
    font-weight: 200;
    font-family: "Khand Medium";
    text-transform: uppercase;
    letter-spacing: 2px;
}

div.leftCol{
    float:left;
    width:610px;
    position:relative;
}

div.team1{
    position: fixed;
    margin-top: 432px;
    margin-left: 10px;
    color: #3e354d;
}

div.team1Score{
    position: fixed;
    margin-top: 432px;
    margin-left: 575px;
    color: #3e354d;
}

div.team2{
    position: fixed;
    margin-top: 822px;
    margin-left: 10px;
    color: #3e354d;
}

div.team2Score{
    position: fixed;
    margin-top: 822px;
    margin-left: 575px;
    color: #3e354d;
}

div.roundCol{
    float:left;
    width:1310px;
    position:fixed;
    margin-left:610px;
    text-align:center;
    margin-top:15px;
    font-size:27pt;
}