body{
    font-weight: 600;
    font-family: "Khand Medium";
    text-transform: uppercase;
    letter-spacing: 3px;
	background-image: url('C:/Users/RCScookiE/Documents/RCSOverlay/resources/images/Overlays/PlayersBall/PlayersBallLowerThird.png');
}

div.left{
	position:relative;
	float:left;
	width:50%;
	text-align:right;

}

div.right{
	position:relative;
	float:left;
	width:50%;
	text-align:left;
}


div.leftComm{
	position:relative;
	margin-top:855px;
	margin-right:70px;
	font-size:30pt;
}

div.rightComm{
	position:relative;
	margin-top:855px;
	margin-left:70px;
	font-size:30pt;
}


div.leftTwitter{
	position: relative;
	/*margin-top:920px;*/
	margin-top: 0px;
	margin-right:70px;
	font-size:20pt;
}

div.rightTwitter{
	position:relative;
	/*margin-top:920px;*/
	margin-top: 0px;
	margin-left:70px;
	font-size:20pt;
}


/*
div.column{
	width: 1000px;
	float: left;
}
div.commentators{
	position:fixed;
	margin-left: 200px;
	margin-top:810px;
	font-size:55pt;
}
div.twitter{
	position:fixed;
	margin-left:390px;
	margin-top:905px;
	font-size:24pt;
	color:white;
}
*/