div.playercol{
    position:fixed;
    width: 13%;
}


div.roundcol{
    position: fixed;
    display: flex;
    justify-content: center;

}

div.round{
    position: fixed;
    color:  #f5cb0d;
    font-size: 16pt;
    text-align: right;
    width:20%;
    margin-left: 375px;
    margin-top: 127px;
    font-weight: 100;
    letter-spacing: -1pt;
}

div.tournament-section{
    position: fixed;
    color:  #f5cb0d;
    font-size: 16pt;
    text-align: left;
    margin-left: 1160px;
    margin-top: 127px;
    font-weight: 100;
}

div.leftPlayer1{
    position: fixed;
    margin-left: 500px;
    margin-top: 40px;
    font-size: 18pt;
}
div.leftPlayer2{
    position: fixed;
    margin-left: 513px;
    margin-top: 80px;
    font-size: 18pt;
}

div.rightPlayer1{
    position: fixed;
    margin-left: 1167px;
    margin-top: 40px;
    text-align: right;
    font-size: 18pt;
    width: 13%;
}
div.rightPlayer2{
    position: fixed;
    margin-left: 1155px;
    margin-top: 80px;
    text-align: right;
    font-size: 18pt;
    width: 13%;
}

div.leftScore{
    position: fixed;
    margin-left: 762px;
    margin-top: 35px;
    text-align: left;
}

div.rightScore{
    position: fixed;
    margin-left: 1119px;
    margin-top: 35px;
    justify-content: right;
}

div.leftCharacter{
    position: fixed;
}

div.leftPort1{
    position: fixed;
}

div.leftPort2{
    position: fixed;
}

div.rightPort1{
    position: fixed;
}

div.rightPort2{
    position: fixed;
}

div.rightCharacter{
    position: fixed;
}

div.score{
    font-size: 50pt;
    font-weight: 100;
}
