div.playercol{
    position:fixed;

    width: 13%;
}


div.roundcol{
    position: fixed;
    display: flex;
    justify-content: center;

    margin-top:24px;
    margin-left: 769px;

    width: 20%;
    color:  #f5cb0d;
    letter-spacing: -2pt;
    font-weight: bold;
    font-size:18pt;
    text-shadow: 1ch;
}

img.portIcon{
    height: 70px;
}

div.leftPort{
    position:fixed;
    margin-left: 392px;
    margin-top: 945px;
}


div.rightPort{
    position:fixed;
    margin-top: 945px;
    margin-left:1355px;
}

div.leftPlayer{
    position: fixed;
    margin-left: 142px;
    margin-top: 960px;
    justify-content: left;
    z-index: -2;
    font-size: 22pt;

}

div.rightPlayer{
    position: fixed;
    margin-left: 1520px;
    margin-top: 960px;
    text-align: right;
    z-index: -2;
    font-size: 22pt;
}

div.leftScore{
    position: fixed;
    margin-left: 582px;
    margin-top: 939px;
    justify-content: left;
}

div.rightScore{
    position: fixed;
    margin-left: 1298px;
    margin-top: 939px;
    justify-content: right;
}

div.leftCharacter{
    position: fixed;
    margin-top: 945px;
    margin-left:390px;
    z-index: 0;
}

div.rightCharacter{
    position: fixed;
    margin-top: 945px;
    margin-left:1370px;
    z-index: 0;
}

div.score{
    font-size: 50pt;
    font-weight: 100;
}

img.portIcon{
    z-index: -2;
}

img.characterIcon{
    height: 70px;
    z-index: 0;
}
