html{
    background-image: url('C:\\Users\\RCScookiE\\Documents\\RCSOverlay\\resources\\images\\Overlays\\Smash4Arca\\GuaranteedGame.png');
    text-align: center;
}

.player{
    position:fixed;
    margin-top: 45px;
    font-size: 30pt;
}

.score{
    position:fixed;
    margin-top: 19px;

    font-size: 40pt;
    color: grey;
    text-shadow: 0;
}

.info{
    font-size:16pt;
}

div.player1{
    margin-left: 525px;
}

div.player2{
    margin-left: 1300px;
}

div.player1score{
    margin-left: 780px;
}

div.player2score{
    margin-left: 1115px;
}

div.round{
    position:fixed;
    margin-left: 600px;
    margin-top: 95px;
}

div.bracket{
    position:fixed;
    margin-left: 1200px;
    margin-top: 95px;
}