html{
    text-align: center;
}

.player{
    position:fixed;
    margin-top: 43px;

    font-size: 32pt;
    font-color: #fdf8ea;
}

.score{
    top: 0;
    position:fixed;
    margin-top: 38px;

    font-size: 40pt;
    color: #393939;
    text-shadow: 0;
}

.info{
    top: 0;
    position:fixed;
    margin-top: 93px;

    font-size:18pt;
    font-color: #e3e3e3;
}

div.container{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

div.players{
    display:flex;
    justify-content: space-between;
    margin-top: 43px;
    /* DOUBLES */
    width: 57%;

    /* SINGLES */
    /*width: 46%;
*/
    font-size: 32pt;
    font-color: #fdf8ea;
}

div.playercol{
    position:fixed;
    display: flex;
    justify-content: center;

    margin-top: 44px;
    width: 25%;

    font-size: 32pt;
    font-color: #fdf8ea;
}


div.infos{
    display: flex;
    justify-content: space-between;
    margin-top: 9px;

    font-size:18pt;
    font-color: #e3e3e3;
}



div.player1{
    text-align: center;
    margin-left: 325px;
}

div.player2{
    margin-left: 1110px;
}

div.player1score{
    margin-left: 780px;
}

div.player2score{
    margin-left: 1115px;
}

div.round{
    margin-left: 575px;
}

div.bracket{
    margin-left: 1175px;
}