html{
    letter-spacing: 3pt;
}

.blue{
    color:#2776f4;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }

div.mu_container{
    position:fixed;
    display:flex;
    justify-content: center;

    width:50%;
    height:46%;

    margin-top:240px;
    margin-left:480px;

    color: white;
}

div.mu_title{
    position:fixed;
    font-size: 45pt;
    margin-top: 3px;
}

div.mu_round{
    position:fixed;
    font-size: 22pt;
    margin-top: 123px;
}

div.mu_player1{
    position:fixed;
    color:#0d5ee0;
    margin-top:190px;
    font-size: 32pt;
}

div.mu_player2{
    position:fixed;
    color:#0d5ee0;
    margin-top: 293px;
    font-size: 32pt;
}

div.mu_location{
    position:fixed;
    font-size: 22pt;
    margin-top: 378px;
}